.nav-link{
    font: bold 16px "Arial";
}

.css-btn-size{
    width: 35px;
    height: 35px; 
}

hr{
    border-top: 5px dashed brown;
    width: 75%;
}

.css-text-shadow{
    text-shadow: black 0 0 5px, white 0 0 8px, brown 0 0 11px;
}

.carousel-caption{
    text-shadow: black 0 0 10px;
    background-image: radial-gradient(ellipse closest-side at center, rgba(0,0,0,0.35), rgba(0,0,0,0.2), rgba(0,0,0,0));
}

.css-bg-gold{
    background-color: #FFD700;
}
.css-bg-black{
    background-color: black;
}
.css-shadow-gray{
    box-shadow:0 0 17px gray;
}
.css-shadow-gray-modal{
    box-shadow:0 0 150px gray, 0 0 50px gray;
}